# Pliki wynikowe
*.o
*.elf
*.bin
*.hex
*.map
*.exe

# Foldery build
/Debug/
/Release/
/build/
/STM32CubeIDE/

# Pliki zależne od środowiska
*.launch
*.uvoptx
*.uvprojx
*.ioc

# IDE
/.vscode/
/.cproject
.project
.settings/

# Systemowe
.DS_Store
Thumbs.db
